.hora{
	color: black;
	margin-top: 50px;
	font-size: 100px;
}
.hora2{
	color: black;
	margin-top: 50px;
	font-size: 100px;
	margin-right: 12%;
}
.botones2{
	margin-right: 2%;
}
.tiempo{
	margin-top: 15%;
}
@media (max-width: 575px){
	.botones2{
		margin-top: 3%;
	}
	.botones{
		display: none;
	}
	.hora{
		display: none;
	}
}
@media(max-width: 720px){
	.boton_2{
		margin-right: 1%;
	}
}
@media(max-width: 650px){
	.boton_2{
		margin-right: 3%;
	}
}
@media(max-width: 600px){
	.boton_2{
		margin-right: 5%;
	}
}
@media(min-width: 576px){
	.botones{
		margin-top: 5%;
	}
	.botones2{
		display: none;
	}
	.hora2{
		display: none;
	}
}
.boton_2{
	text-align: center;
}

body{
	text-align: center;
}
.flip{
	background-color: red;
}